@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'ubuntu';
}

.row {
  position: relative;
}

#about-info {
  margin-top: -20px;
  margin-bottom: -2em;
}

#about-info .stroke {
  margin-left: 0px;
}

#section-title {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: #09ACF8;
  margin-bottom: -10px;
  padding-top: 1em;
}

#title {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  color: #342A2F;
  margin-bottom: 0;
}

#info-btn {
  opacity: 0.2;
  border: 1.5px solid #000000;
  box-sizing: border-box;
  border-radius: 26px;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  position: absolute;
  bottom: 4em;
}

.carousel-inner {
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.9;
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.080163);
  text-align: center;
  font-size: 10px;
  margin-bottom: 60px;
}

.carousel-item h3 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 24px;
  text-align: center;
  color: #2B3247;
}

.carousel-item h1 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  font-size: 17px;
  text-align: center;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.carousel-item button {
  border-radius: 30px;
  padding: 0.3em 1em;
  block-size: 25px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  font-size: 10px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.carousel-item .icons {
  display: inline-block;
  padding: 0 8px;
  mix-blend-mode: normal;
  opacity: 0.3;
}

.carousel-item p {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.6;
  padding: 0.5em 1.5em;
}

.stroke {
  border: 2px solid #000000;
  width: 1rem;
}

.carousel-indicators li {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #DFDFDF;
}

.carousel-indicators li.active {
  background: #979797;
}

.carousel-indicators {
  bottom: -50px;
}

#service-section {
  padding-bottom: 50px;
  margin-top: 50px;
  background: linear-gradient(119.64deg, #2FB7F3 3.41%, #769ADC 60.49%, #9376DC 119.98%);
}

#service-section #info-btn {
  opacity: 0.8;
  border: 1.5px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 26px;
  color: #FFFFFF;
}

.nav-center {
  text-align: center;
}

.nav-center ul.nav {
  display: inline-block;
}

.nav-center ul.nav li {
  display: inline;
}

.nav-center ul.nav li a {
  float: left;
  text-decoration: none;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 16px;
  color: #FFFFFF;
  opacity: 0.3;
  padding: 8px;
}

.nav-center ul.nav li a.active {
  color: #FFFFFF;
  opacity: 1;
}

.nav-center .stroke {
  border: 2px solid #FFFFFF;
  opacity: 0.8;
}

#emp hr {
  text-align: right;
  margin-right: 0;
}

#cand hr {
  text-align: left;
  margin-left: 0;
}

.tab-content .stroke {
  opacity: 0.2;
}

.tab-content .text-primary {
  height: 35px;
  left: 45.33%;
  right: 45.07%;
  top: calc(50% - 35px/2 - 596.5px);
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 30px;
  text-align: center;
  color: #2CA1F8;
  padding-top: 10px;
}

.tab-content .carousel-inner .carousel-item {
  padding-bottom: 1.5rem;
}

.tab-content .carousel-indicators li {
  background: #ffffff;
  opacity: 0.2;
}

.tab-content .carousel-indicators li.active {
  opacity: 1;
}

.card {
  display: block;
  height: 100%;
  width: 100%;
  border: none;
}

.card img {
  width: 100%;
  height: 70%;
  background: #D8D8D8;
}

.card .stroke {
  border: 2px solid #FFFFFF;
}

.card-img-overlay {
  color: #FFFFFF;
}

.card-title {
  font-weight: bold;
  line-height: 21px;
  font-size: 18px;
}

.card-text {
  display: block;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  font-size: 14px;
  text-align: justify;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.6;
  overflow: hidden;
}

#card-link {
  display: block;
  margin: -10px;
  font-size: 10px;
  text-align: right;
  text-transform: uppercase;
  color: #2CA1F8;
}

#right-text {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  text-align: right;
  color: #000000;
  /* margin: -20px -7px 0 0; */
  mix-blend-mode: normal;
  opacity: 0.4;
  display: block;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#shadow {
  font-style: italic;
  font-weight: bold;
}

.social {
  display: block;
  text-align: right;
}

.social-logo {
  display: none;
}

.social-logo i {
  color: #FFFFFF;
}

.social-logo a:hover, .top-header-list a:hover, .share-btn:hover, .top-header-btn #icon:hover, .vertical-text:hover {
  opacity: 0.6;
}

.img-text {
  display: block;
  position: absolute;
  bottom: 30%;
  padding-left: 0;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
}

.img-text hr {
  margin-left: 0px;
}

.img-text p .text-size-11 {
  font-size: 11px;
}

.img-text p .text-size-15 {
  font-size: 15px;
}

#contact-info {
  margin-top: -20px;
}

#contact-info .stroke {
  margin-left: 0px;
  width: 30px;
}

.addr {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #313541;
}

.contact {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  line-height: 36px;
  font-size: 16px;
  color: #313541;
  text-transform: uppercase;
}

.tel {
  font-family: SanFranciscoDisplay;
  line-height: 20px;
  font-size: 14px;
  color: #313541;
}

#sub-title {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 12px;
  text-transform: uppercase;
  color: #2B3247;
  mix-blend-mode: normal;
  opacity: 0.4;
}

form input, form textarea {
  border: 1px solid #DCE0E8;
  box-sizing: border-box;
  font-family: Ubuntu;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  mix-blend-mode: normal;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 0%;
  opacity: 0.4;
}

form .btn {
  background: #2B3247;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  line-height: 60px;
  font-size: 14px;
  text-align: center;
  border-radius: 0%;
  color: #FFFFFF;
}

.mapcap {
  position: relative;
  left: 40%;
  bottom: 45%;
}

.bigmap {
  display: none;
}

footer {
  padding-bottom: 35px;
}

footer .my-1 {
  display: none;
}

footer .header {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  color: #000000;
}

footer p {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}

footer form #subscrib {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  color: #000000;
  mix-blend-mode: normal;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 0%;
  opacity: 0.2;
}

footer .dummy .col-md-3 {
  display: none;
}

#top-section {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg_TOP.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#top-left-section {
  /* background: #849; */
  position: absolute;
  top: 0%;
  height: 4em;
}

#top-right-section {
  height: 100%;
  margin-top: 6em;
}

.top-header-btn {
  font-size: 21px;
}

.top-header-list {
  display: none;
  color: #000;
}

#top-section #dev, #top-section #comp, #top-section #arrow {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 68px;
  text-align: center;
  letter-spacing: 0.33px;
  text-transform: uppercase;
  color: #FFFFFF;
}

#top-section #dev {
  position: absolute;
  padding-top: 35em;
  padding-left: 6em;
}

#top-section #comp {
  position: absolute;
  padding-top: 37em;
  padding-left: 10em;
}

#top-section #arrow {
  position: absolute;
  padding-top: 40em;
  padding-left: 20em;
}

.vertical-body {
  display: none;
}

/*---Media Queries --*/

@media (max-width: 992px) {}

@media (min-width: 576px) { 
  
  .bigmap {
    display: inline;
  }
  .vertical-nav {
    display: none;
  }
  .mapcap, .mapimg {
    display: none;
  }
  footer {
    margin: auto 7em 7em 7em;
  }
  footer .my-1 {
    display: block;
  }
  footer #right-footer {
    display: inline-block;
    position: relative;
    padding-right: -2em;
  }
  footer .dummy .col-md-3 {
    display: inline;
  }
  footer #right-footer p {
    position: relative;
    top: 50%;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    text-transform: uppercase;
    color: #000000;
  }
  #top-section {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #top-left-section {
    height: 100%;
    width: 3em;
    padding: 0;
  }
  #top-right-section {
    height: 100%;
    position: absolute;
    margin-left: 3em;
    margin-top: 0px;
  }
  .top-header-btn {
    color: #FFFFFF;
    background-color: #313541;
    text-align: center;
    font-size: 24px;
    padding-top: 1em;
    padding-bottom: 10em;
  }
  .top-header-list {
    padding-top: 8em;
    height: 100%;
    text-align: center;
    font-size: 17px;
  }
  #top-section #dev, #top-section #comp, #top-section #arrow {
    display: none;
  }
  #menu-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  #menu-bar li {
    float: right;
  }
  #menu-bar li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }
  #menu-bar #thalescode {
    font-family: Helvetica;
    font-size: 15px;
    line-height: 110px;
    letter-spacing: 5px;
  }
  #menu-bar li a:hover:not(.title) {
    opacity: 0.4;
  }
  .top-body #small-scrn {
    display: none;
  }
  .top-body {
    margin-left: 3em;
    margin-top: 3em;
    float: left;
    text-align: left;
  }
  .top-body .stroke {
    margin-left: 0px;

  }
  #black-btn-1, #black-btn-2 {
    background: #000;
    border: 1.5px solid #000000;
    box-sizing: border-box;
    color: #FFFFFF;
    padding: 0.5em 3em 0.5em 3em;
    margin-top:2em;
    
  }
  #black-btn-2{
    margin-left: 2em;
  }
  #top-message{
    margin-top: 3em;
    width: 638;
    height: 257;
    background: #FFFFFF;
    padding: 4em;
    font-size: 15px;
    color: #000;
  }
  #top-message p{
    opacity: 0.3;
  }
  
  #header-img img{
    position: absolute;
    right: 8%;
    top: 20%;
    
  }
  #about-section{
    display: none;
  }
  #font-14{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;    
    color: #000000;    
    mix-blend-mode: normal;
    opacity: 0.6;
    width: 550px;
  }
  #about-2 .stroke{
    margin-left: 0px;
    width: 40px;

  }

}

/* xs screen media */

@media (max-width: 575px) {
  .top-header-list {
    position: absolute;
    right: 7%;
    top: 20px;
    opacity: 0.3;
  }
  footer .dummy .col-md-3,#about-2 {
    display: none;
  }
  footer .my-1 {
    display: none;
  }
  #menu-bar {
    display: none;
  }
  .vertical-nav {
    display: block;
    position: absolute;
    left: 0%;
  }
  .vertical-nav .vertical-text {
    display: block;
    padding-top: 12.5em;
    padding-left: 7em;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  #vertical-item {
    position: absolute;
    list-style-type: none;
    padding-top: 0.5em;
    padding-left: 0.5em;
  }
  #vertical-item li {
    display: block;
    background: grey;
    box-sizing: border-box;
    padding: 0 1em 0 1em;
    border-radius: 9px;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 0.5em;
  }
  .top-body #big-scrn, .top-body .stroke ,
  #black-btn-1, #black-btn-2,#top-message,#header-img {
    display: none;
  }
  .top-body {
    margin-top: 10px;
  }
  
}

/*---Firefox Bug Fix --*/

.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Fixed Background Image --*/

figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

/*--- Bootstrap Padding Fix --*/

[class*="col-"] {
  padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap
Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }
Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }
Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }
Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/