@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'ubuntu';
}

.row {
  position: relative;
}

#about-info {
  margin-top: -20px;
  margin-bottom: -2em;
  opacity: 0.6;
}

#about-info .stroke {
  margin-left: 0px;
}

#section-title {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: #09ACF8;
  margin-bottom: -10px;
  padding-top: 1em;
}

#title {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  color: #342A2F;
}

#title-1 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 90px;
  text-align: center;
  color: #2B3247;
  padding-top: 2em;
}

#info-btn {
  opacity: 0.2;
  border: 1.5px solid #000000;
  box-sizing: border-box;
  border-radius: 26px;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  position: absolute;
  right: 2em;
  bottom: 4em;
}

.carousel-inner {
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.9;
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.080163);
  text-align: center;
  font-size: 10px;
  margin-bottom: 60px;
}

.carousel-item h3 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 24px;
  text-align: center;
  color: #2B3247;
}

.carousel-item h1 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  font-size: 17px;
  text-align: center;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.carousel-item button {
  border-radius: 30px;
  padding: 0.3em 1em;
  block-size: 25px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  font-size: 10px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.carousel-item .icons {
  display: inline-block;
  padding: 0 8px;
  mix-blend-mode: normal;
  opacity: 0.3;
}

.carousel-item p {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.stroke {
  border: 2px solid #000000;
  width: 1rem;
}

.carousel-indicators li {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background: #DFDFDF;
}

.carousel-indicators li.active {
  background: #979797;
}

.carousel-indicators {
  bottom: -50px;
}

#service-section {
  padding-bottom: 50px;
  margin-top: 50px;
  background: linear-gradient(119.64deg, #2FB7F3 3.41%, #769ADC 60.49%, #9376DC 119.98%);
}

#service-section #info-btn {
  opacity: 0.8;
  border: 1.5px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 26px;
  color: #FFFFFF;
}

.nav-center {
  text-align: center;
}

.nav-center ul.nav {
  display: inline-block;
}

.nav-center ul.nav li {
  display: inline;
}

.nav-center ul.nav li a {
  float: left;
  text-decoration: none;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 16px;
  color: #FFFFFF;
  opacity: 0.3;
  padding: 8px;
}

.nav-center ul.nav li a.active {
  color: #FFFFFF;
  opacity: 1;
}

.nav-center .stroke {
  border: 2px solid #FFFFFF;
  opacity: 0.8;
}

#emp hr {
  text-align: right;
  margin-right: 0;
}

#cand hr {
  text-align: left;
  margin-left: 0;
}

.tab-content .stroke {
  opacity: 0.2;
}

.tab-content .text-primary {
  height: 35px;
  left: 45.33%;
  right: 45.07%;
  top: calc(50% - 35px/2 - 596.5px);
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 30px;
  text-align: center;
  color: #2CA1F8;
  padding-top: 10px;
}

.tab-content .carousel-inner .carousel-item {
  padding-bottom: 1.5rem;
}

.tab-content .carousel-indicators li {
  background: #ffffff;
  opacity: 0.2;
}

.tab-content .carousel-indicators li.active {
  opacity: 1;
}

.card {
  display: block;
  height: 100%;
  width: 100%;
  padding-bottom: 7em;
  border: none;
}

.card img {
  width: 100%;
  height: 70%;
  background: #D8D8D8;
}

.card .stroke {
  border: 2px solid #FFFFFF;
}

.card-img-overlay {
  color: #FFFFFF;
}

.card-text {
  display: block;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  font-size: 14px;
  text-align: justify;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.6;
  overflow: hidden;
}

.card-title {
  font-weight: bold;
  line-height: 21px;
  font-size: 18px;
}

#card-link {
  display: block;
  margin: -10px;
  font-size: 10px;
  text-align: right;
  text-transform: uppercase;
  color: #2CA1F8;
}

#right-text {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  text-align: right;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.4;
  display: block;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#shadow {
  font-style: italic;
  font-weight: bold;
}

.social {
  display: block;
  text-align: right;
}

.social-logo {
  display: none;
}

.social-logo i {
  color: #FFFFFF;
}

.social-logo a:hover, .top-header-list a:hover, .share-btn:hover, .top-header-btn #icon:hover, .vertical-text:hover {
  opacity: 0.6;
}

.img-text {
  display: block;
  position: absolute;
  bottom: 44%;
  padding-left: 0;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
}

.img-text hr {
  margin-left: 0px;
}

#contact-info {
  margin-top: -20px;
}

#contact-info .stroke {
  margin-left: 0px;
  width: 30px;
}

.addr {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #313541;
}

.contact {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  line-height: 36px;
  font-size: 16px;
  color: #313541;
  text-transform: uppercase;
}

.tel {
  font-family: SanFranciscoDisplay;
  line-height: 20px;
  font-size: 14px;
  color: #313541;
}

#sub-title {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 12px;
  text-transform: uppercase;
  color: #2B3247;
  mix-blend-mode: normal;
  opacity: 0.4;
}

#sub-title-1 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 12px;
  text-transform: uppercase;
  color: #2B3247;
  mix-blend-mode: normal;
  opacity: 0.4;
}

form input, form textarea {
  border: 1px solid #DCE0E8;
  box-sizing: border-box;
  font-family: Ubuntu;
  font-size: 14px;
  color: #000000;
  mix-blend-mode: normal;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 0%;
  opacity: 0.4;
}

form .btn {
  background: #2B3247;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  line-height: 60px;
  font-size: 14px;
  text-align: center;
  border-radius: 0%;
  color: #FFFFFF;
}

.bigmap {
  display: none;
}

footer {
  padding-bottom: 35px;
}

footer .my-1 {
  display: none;
}

footer .header {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  color: #000000;
}

footer p {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}

footer form #subscrib {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  color: #000000;
  mix-blend-mode: normal;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 0%;
  opacity: 0.2;
}

footer .dummy .col-md-3 {
  display: none;
}

#top-section {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg_TOP.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#top-left-section {
  position: absolute;
  top: 0%;
  height: 4em;
}

#top-right-section {
  height: 100%;
  margin-top: 6em;
}

.top-header-btn {
  font-size: 21px;
}

.top-header-list {
  display: none;
  color: #000;
}

#top-section #dev, #top-section #comp, #top-section #arrow {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 0.33px;
  text-transform: uppercase;
  color: #FFFFFF;
}

#dev-comp {
  position: absolute;
  bottom: 0%;
  margin-bottom: -6em;
}

#dev-comp #dev {
  padding-left: 2em;
}

#dev-comp #comp {
  padding-left: 7em;
}

#dev-comp #arrow {
  padding-left: 18em;
}

.vertical-body {
  display: none;
}

/* multi item carousel css */

#carousel {
  width: 100%;
}

.slide-box {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .slide-box img {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  #jobpost-section #title, #big-explore #title {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #2B3247;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .slide-box img {
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
  #jobpost-section #title, #big-explore #title {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: #2B3247;
  }
}

@media (min-width: 992px) {
  .slide-box img {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  #jobpost-section #title, #big-explore #title {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: #2B3247;
  }
}

/* end multi item carousel css */

/*---Media Queries --*/

@media (max-width: 992px) {}

/* big screen */

@media (min-width: 576px) {
  .bigmap {
    display: inline;
  }
  .vertical-nav, #small-explore {
    display: none;
  }
  .mapimg, #dev-comp {
    display: none;
  }
  footer {
    margin: auto 7em 7em 7em;
  }
  footer .my-1 {
    display: block;
  }
  footer #right-footer {
    display: inline-block;
    position: relative;
    padding-right: -2em;
  }
  footer .dummy .col-md-3 {
    display: inline;
  }
  footer #right-footer p {
    position: relative;
    top: 50%;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    text-transform: uppercase;
    color: #000000;
  }
  #top-section {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #top-left-section {
    height: 100%;
    width: 3em;
    padding: 0;
  }
  #top-right-section {
    height: 100%;
    position: absolute;
    margin-left: 3em;
    margin-top: 0px;
  }
  .top-header-btn {
    color: #FFFFFF;
    background-color: #313541;
    text-align: center;
    font-size: 24px;
    padding-top: 1em;
    padding-bottom: 10em;
  }
  .top-header-list {
    padding-top: 8em;
    height: 100%;
    text-align: center;
    font-size: 17px;
  }
  #top-section #dev, #top-section #comp, #top-section #arrow {
    display: none;
  }
  #menu-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  #menu-bar li {
    float: right;
  }
  #menu-bar li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }
  #menu-bar #thalescode {
    font-family: Helvetica;
    font-size: 15px;
    line-height: 110px;
    letter-spacing: 5px;
  }
  #menu-bar li a:hover:not(.title) {
    opacity: 0.4;
  }
  .top-body #small-scrn {
    display: none;
  }
  .top-body {
    margin-left: 3em;
    margin-top: 2em;
    float: left;
    text-align: left;
  }
  .top-body .stroke {
    margin-left: 0px;
  }
  .top-body h5 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 62px;
    color: #000000;
  }
  .top-body #big-scrn h6 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
  }
  #black-btn-1, #black-btn-2 {
    background: #000;
    border: 1.5px solid #000000;
    box-sizing: border-box;
    color: #FFFFFF;
    padding: 0.5em 3em 0.5em 3em;
    margin-top: 2em;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 30px;
    text-transform: uppercase;
  }
  #black-btn-2 {
    margin-left: 2em;
  }
  #top-message {
    margin-top: 3em;
    width: 638;
    height: 257;
    background: #FFFFFF;
    padding: 1em 3.5em 2em 3.5em;
    font-size: 15px;
    color: #000;
  }
  #top-message p {
    margin-top: -4em;
    text-transform: lowercase;
    opacity: 0.3;
  }
  #top-line {
    display: block;
    margin-right: 0%;
    margin-top: 0%;
    text-align: right;
    font-family: Helvetica;
    font-size: 80px;
    opacity: 0.3;
  }
  #header-img img {
    position: absolute;
    right: 8%;
    top: 20%;
  }
  #about-section, #jobpost-section #section-title, #service-section #small-service {
    display: none;
  }
  #font-14 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.6;
    width: 550px;
  }
  #about-2 .stroke {
    margin-left: 0px;
    width: 40px;
  }
  #jobpost-section {
    padding-top: 4em;
    padding-right: 6em;
  }
  #about-2 #info-btn {
    left: 1.5em;
  }
  #big-service #sub-title-1 {
    margin-top: 0em;
    text-align: center;
  }
  #big-service #title-1 {
    margin-bottom: -0.3em;
    padding-bottom: 0em;
  }
  #emp, #cand {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    color: #8C93AA;
  }
  #emp.active, #cand.active {
    color: #000;
  }
  #emp.active .stroke, #cand.active .stroke {
    border: 2px solid #000;
    width: 40px;
  }
  #service-bottom {
    position: absolute;
    bottom: 2em;
    right: 3em;
  }
  #info-btn-1 {
    opacity: 0.2;
    border: 1.5px solid #000000;
    box-sizing: border-box;
    border-radius: 26px;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }
  #section-btm {
    display: block;
    position: absolute;
    right: 7em;
    text-align: right;
  }
  #service-section {
    padding-right: 5em;
    background: #FFFFFF;
  }
  #emp-slide, #cand-slide {
    display: none;
  }
  #emp-tab-item {
    padding-left: 2em;
  }
  #emp-tab-item h5 {
    font-weight: bold;
  }
  #emp-tab-item .text-primary, #emp-tab-item .stroke {
    margin-left: 0;
    text-align: left;
  }
  #emp-tab-item p {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    opacity: 0.5;
  }
  #emp-tab-item .stroke {
    width: 23px;
  }
  #explore-section {
    padding-right: 7em;
  }
  #big-explore {
    margin-bottom: -1em;
  }
  .social {
    display: none;
  }
  .img-text {
    left: 30%;
    top: 20%;
  }
  .img-text .text-size-11 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 26px;
    letter-spacing: 1.73333px;
  }
  .img-text .text-size-15 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 26px;
  }
  .img-text .stroke {
    border: 6px solid #FFFFFF;
    margin-left: 40%;
  }
  .img-text p {
    text-align: center;
  }
  .card-body #card-link {
    display: none;
  }
  .card-body {
    text-align: left;
    padding-left: 0px;
  }
  .card-title {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
  }
  .card-text {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
    color: #8C93AA;
    padding-bottom: 2.5em;
  }
  #right-text {
    text-shadow: none;
    position: absolute;
    bottom: 2em;
    right: 0%;
    font-size: 20px;
    color: #8C93AA;
  }
  #left-icon {
    width: 100%;
    position: absolute;
    bottom: 2em;
    left: 0%;
  }
  #left-icon a {
    color: #FFFFFF;
    margin-right: 0.7em;
    opacity: 0.3;
    background: #000;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    text-align: center;
    display: inline-block;
    line-height: 2em;
  }
  #contact-section #section-title {
    display: none;
  }
  #contact-section #title {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    color: #2B3247;
  }
  #contact-info .tel, #contact-info .addr, #contact-info .contact {
    font-weight: bold;
    font-family: SanFranciscoDisplay;
    font-size: 24px;
    line-height: 36px;
    color: #313541;
  }
  form {
    padding-top: 2em;
    padding-bottom: 3em;
  }
  form .form-control {
    border-radius: 0px;
  }
  .carousel-inner {
    box-shadow: none;
  }
  #carousel {
    padding-top: 2em;
  }
  .slide-box, .slide-box h3, .slide-box h5, .slide-box p {
    text-align: left;
    padding-left: 0%;
  }
  .slide-box .stroke {
    margin-left: 0%;
  }
  .slide-box div h3 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: normal;
    color: #2B3247;
  }
  .slide-box div h5 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.6;
  }
  .carousel-indicators {
    padding-bottom: 3em;
  }
  .carousel-indicators li {
    width: 6px;
    height: 6px;
  }
  .slide-box hr:not(.stroke){
    width: 95%;
    margin-left: 0%;
  }
}

/* end big screen */

/* xs screen media */

@media (max-width: 575px) {
  .top-header-list {
    position: absolute;
    right: 7%;
    top: 20px;
    opacity: 0.3;
  }
  footer .dummy .col-md-3, #about-2, #sub-title-1, #service-section #big-service, #service-section #section-btm, .big-scrn-line {
    display: none;
  }
  footer .my-1, #employer #emp-tab-item, #candidate #emp-tab-item, #big-explore {
    display: none;
  }
  #menu-bar, #left-icon {
    display: none;
  }
  .vertical-nav {
    display: block;
    position: absolute;
    left: 0%;
  }
  .vertical-nav .vertical-text {
    display: block;
    padding-top: 12em;
    padding-left: 7em;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
  }
  #vertical-item {
    position: absolute;
    list-style-type: none;
    padding-top: 0.5em;
    padding-left: 0.5em;
  }
  #vertical-item li {
    display: block;
    background: grey;
    box-sizing: border-box;
    padding: 0 1em 0 1em;
    border-radius: 9px;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 0.5em;
  }
  .top-body #big-scrn, .top-body .stroke, #black-btn-1, #black-btn-2, #top-message, #header-img {
    display: none;
  }
  .top-body {
    margin-top: 9px;
  }
  .top-body h5 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    color: #000000;
  }
  .top-body #small-scrn h6 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: #000000;
  }
  #info-btn {
    bottom: 3.5em;
  }
  .img-text p .text-size-11 {
    font-size: 11px;
  }
  .img-text p .text-size-15 {
    font-size: 15px;
  }
  #service-section {
    margin-top: 80px;
  }
  .carousel-item .d-block.d-sm-none{
    padding:2em 4em 0 4em;

  }

}

/*---Firefox Bug Fix --*/

.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Fixed Background Image --*/

figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

/*--- Bootstrap Padding Fix --*/

[class*="col-"] {
  padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap
Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }
Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }
Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }
Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/